fastapi
black
isort
websockets
pydantic
langchain
uvicorn
bs4
unstructured
libmagic
chromadb 
sentence_transformers 
InstructorEmbedding
python-dotenv
openai
gpt4all
pyllama 
llama-cpp-python
pyllamacpp
pygpt4all
tiktoken
accelerate
safetensors
xformers
bitsandbytes
torch
einops
pypdf
gevent
langchain-serve